.ContestPreview {
	margin: 1em;
	border: 1px solid #ccc;

	.category-name {
		/* Large, bold text, light gray background and border */
		border-bottom: 1px solid #ccc;
		padding: 0.25em 0.5em;
		font-weight: bold;
		background-color: #eee;
	}

	.contest-name {
		padding: 0.5em;
	}
}

.link {
	cursor: pointer;
}

.name-scroll {
	/* Scroll if the proposed names list gets too big */
	max-height: 200px;
	overflow-y: auto;
}

.home-link {
	margin-top: 1em;
	color: #00e; /* blue link */
}
